In [12]:
import pandas as pd
import datetime

In [3]:
df = pd.read_csv('HB_HOUSTON.csv')

In [22]:
df['datetime'] = pd.to_datetime(df['date']) + df['hour'].astype('timedelta64[h]')

In [23]:
df

,hub,date,year,month,day,hour,price,predicted_price,datetime
0,HB_HOUSTON,2015-01-01,2015,1,1,1.0,22.4675,NaN,2015-01-01 01:00:00
1,HB_HOUSTON,2015-01-01,2015,1,1,2.0,22.3050,NaN,2015-01-01 02:00:00
2,HB_HOUSTON,2015-01-01,2015,1,1,3.0,22.2025,NaN,2015-01-01 03:00:00
3,HB_HOUSTON,2015-01-01,2015,1,1,4.0,22.1275,NaN,2015-01-01 04:00:00
4,HB_HOUSTON,2015-01-01,2015,1,1,5.0,22.1550,NaN,2015-01-01 05:00:00
5,HB_HOUSTON,2015-01-01,2015,1,1,6.0,22.6100,NaN,2015-01-01 06:00:00
6,HB_HOUSTON,2015-01-01,2015,1,1,7.0,23.3800,NaN,2015-01-01 07:00:00
7,HB_HOUSTON,2015-01-01,2015,1,1,8.0,23.7775,NaN,2015-01-01 08:00:00
8,HB_HOUSTON,2015-01-01,2015,1,1,9.0,24.4600,NaN,2015-01-01 09:00:00
9,HB_HOUSTON,2015-01-01,2015,1,1,10.0,26.9925,NaN,2015-01-01 10:00:00
10,HB_HOUSTON,2015-01-01,2015,1,1,11.0,27.9600,NaN,2015-01-01 11:00:00
11,HB_HOUSTON,2015-01-01,2015,1,1,12.0,28.4250,NaN,2015-01-01 12:00:00
12,HB_HOUSTON,2015-01-01,2015,1,1,13.0,27.4900,NaN,2015-01-01 13:00:00
13,HB_HOUSTON,2015-01-01,2015,1,1,14.0,26.1950,NaN,2015-01-01 14:00:00
14,HB_HOUSTON,2015-01-01,2015,1,1,15.0,24.8600,NaN,2015-01-01 15:00:00
15,HB_HOUSTON,2015-01-01,2015,1,1,16.0,24.6225,NaN,2015-01-01 16:00:00
16,HB_HOUSTON,2015-01-01,2015,1,1,17.0,25.5325,NaN,2015-01-01 17:00:00
17,HB_HOUSTON,2015-01-01,2015,1,1,18.0,29.3075,NaN,2015-01-01 18:00:00
18,HB_HOUSTON,2015-01-01,2015,1,1,19.0,28.6050,NaN,2015-01-01 19:00:00
19,HB_HOUSTON,2015-01-01,2015,1,1,20.0,27.5700,NaN,2015-01-01 20:00:00
20,HB_HOUSTON,2015-01-01,2015,1,1,21.0,27.4525,NaN,2015-01-01 21:00:00
21,HB_HOUSTON,2015-01-01,2015,1,1,22.0,25.4375,NaN,2015-01-01 22:00:00
22,HB_HOUSTON,2015-01-01,2015,1,1,23.0,24.2300,26.251907,2015-01-01 23:00:00
23,HB_HOUSTON,2015-01-01,2015,1,1,24.0,22.8475,24.557238,2015-01-02 00:00:00
24,HB_HOUSTON,2015-01-02,2015,1,2,1.0,21.9650,24.247730,2015-01-02 01:00:00
25,HB_HOUSTON,2015-01-02,2015,1,2,2.0,21.3200,23.904339,2015-01-02 02:00:00
26,HB_HOUSTON,2015-01-02,2015,1,2,3.0,20.9375,23.942802,2015-01-02 03:00:00
27,HB_HOUSTON,2015-01-02,2015,1,2,4.0,20.9200,23.998636,2015-01-02 04:00:00
28,HB_HOUSTON,2015-01-02,2015,1,2,5.0,21.2450,24.580360,2015-01-02 05:00:00
29,HB_HOUSTON,2015-01-02,2015,1,2,6.0,21.9450,25.543350,2015-01-02 06:00:00
...,...,...,...,...,...,...,...,...,...
31286,HB_HOUSTON,2018-07-27,2018,7,27,19.0,34.4350,34.283081,2018-07-27 19:00:00
31287,HB_HOUSTON,2018-07-27,2018,7,27,20.0,33.0500,34.249004,2018-07-27 20:00:00
31288,HB_HOUSTON,2018-07-27,2018,7,27,21.0,32.0875,34.797119,2018-07-27 21:00:00
31289,HB_HOUSTON,2018-07-27,2018,7,27,22.0,32.3950,35.373493,2018-07-27 22:00:00
31290,HB_HOUSTON,2018-07-27,2018,7,27,23.0,30.9500,33.180477,2018-07-27 23:00:00
31291,HB_HOUSTON,2018-07-27,2018,7,27,24.0,27.4725,29.853893,2018-07-28 00:00:00
31292,HB_HOUSTON,2018-07-28,2018,7,28,1.0,26.2300,28.462826,2018-07-28 01:00:00
31293,HB_HOUSTON,2018-07-28,2018,7,28,2.0,23.3525,25.722382,2018-07-28 02:00:00
31294,HB_HOUSTON,2018-07-28,2018,7,28,3.0,22.1175,25.196421,2018-07-28 03:00:00
31295,HB_HOUSTON,2018-07-28,2018,7,28,4.0,20.3875,23.625675,2018-07-28 04:00:00
31296,HB_HOUSTON,2018-07-28,2018,7,28,5.0,19.9675,24.094917,2018-07-28 05:00:00
31297,HB_HOUSTON,2018-07-28,2018,7,28,6.0,19.4025,23.374720,2018-07-28 06:00:00
31298,HB_HOUSTON,2018-07-28,2018,7,28,7.0,19.2250,23.857653,2018-07-28 07:00:00
31299,HB_HOUSTON,2018-07-28,2018,7,28,8.0,19.1575,24.077444,2018-07-28 08:00:00
31300,HB_HOUSTON,2018-07-28,2018,7,28,9.0,22.2350,27.934059,2018-07-28 09:00:00
31301,HB_HOUSTON,2018-07-28,2018,7,28,10.0,27.6525,35.229660,2018-07-28 10:00:00
31302,HB_HOUSTON,2018-07-28,2018,7,28,11.0,32.1525,47.570293,2018-07-28 11:00:00
31303,HB_HOUSTON,2018-07-28,2018,7,28,12.0,31.5050,54.433437,2018-07-28 12:00:00
31304,HB_HOUSTON,2018-07-28,2018,7,28,13.0,57.7575,114.315636,2018-07-28 13:00:00
31305,HB_HOUSTON,2018-07-28,2018,7,28,14.0,149.2150,154.562805,2018-07-28 14:00:00
31306,HB_HOUSTON,2018-07-28,2018,7,28,15.0,446.1300,155.700684,2018-07-28 15:00:00
31307,HB_HOUSTON,2018-07-28,2018,7,28,16.0,1246.3600,155.885330,2018-07-28 16:00:00
31308,HB_HOUSTON,2018-07-28,2018,7,28,17.0,1348.2375,155.664612,2018-07-28 17:00:00
31309,HB_HOUSTON,2018-07-28,2018,7,28,18.0,644.6100,153.774445,2018-07-28 18:00:00
31310,HB_HOUSTON,2018-07-28,2018,7,28,19.0,80.2275,82.840408,2018-07-28 19:00:00
31311,HB_HOUSTON,2018-07-28,2018,7,28,20.0,45.2375,45.342609,2018-07-28 20:00:00
31312,HB_HOUSTON,2018-07-28,2018,7,28,21.0,50.7275,53.597763,2018-07-28 21:00:00
31313,HB_HOUSTON,2018-07-28,2018,7,28,22.0,32.6475,34.060432,2018-07-28 22:00:00
31314,HB_HOUSTON,2018-07-28,2018,7,28,23.0,25.9325,27.297304,2018-07-28 23:00:00
31315,HB_HOUSTON,2018-07-28,2018,7,28,24.0,21.8775,28.408504,2018-07-29 00:00:00