In [40]:
import pandas as pd

In [57]:
hist = pd.read_excel('Historical RTM Load Zone and Hub Prices.xlsx')
#http://mis.ercot.com/misapp/GetReports.do?reportTypeId=13061&reportTitle=Historical%20RTM%20Load%20Zone%20and%20Hub%20Prices&showHTMLView=&mimicKey

In [58]:
hist = hist.rename(columns={'Delivery Date': 'DeliveryDate', 'Delivery Hour': 'DeliveryHour', 'Delivery Interval': 'DeliveryInterval', 'Repeated Hour Flag': 'DSTFlag', 'Settlement Point Name': 'SettlementPointName', 'Settlement Point Type': 'SettlementPointType', 'Settlement Point Price': 'SettlementPointPrice'})

In [59]:
hist.head()

,DeliveryDate,DeliveryHour,DeliveryInterval,DSTFlag,SettlementPointName,SettlementPointType,SettlementPointPrice
0,01/01/2018,1,1,N,HB_BUSAVG,SH,27.37
1,01/01/2018,1,2,N,HB_BUSAVG,SH,27.37
2,01/01/2018,1,3,N,HB_BUSAVG,SH,27.15
3,01/01/2018,1,4,N,HB_BUSAVG,SH,27.13
4,01/01/2018,1,1,N,HB_HOUSTON,HU,27.68

In [46]:
hist['SettlementPointName'].unique()

array(['HB_BUSAVG', 'HB_HOUSTON', 'HB_HUBAVG', 'HB_NORTH', 'HB_SOUTH',
       'HB_WEST', 'LZ_AEN', 'LZ_CPS', 'LZ_HOUSTON', 'LZ_LCRA', 'LZ_NORTH',
       'LZ_RAYBN', 'LZ_SOUTH', 'LZ_WEST'], dtype=object)

In [47]:
realTime = pd.read_csv('Real Time Settlement Point price.csv')
#http://mis.ercot.com/misapp/GetReports.do?reportTypeId=12301&reportTitle=Settlement%20Point%20Prices%20at%20Resource%20Nodes,%20Hubs%20and%20Load%20Zones&showHTMLView=&mimicKey

In [48]:
realTime = realTime[['DeliveryDate', 'DeliveryHour', 'DeliveryInterval', 'DSTFlag', 'SettlementPointName', 'SettlementPointType', 'SettlementPointPrice']]

In [61]:
realTime[realTime['SettlementPointName'].isin(hist['SettlementPointName'].unique())].reset_index(drop=True)

,DeliveryDate,DeliveryHour,DeliveryInterval,DSTFlag,SettlementPointName,SettlementPointType,SettlementPointPrice
0,08/19/2018,23,3,N,HB_BUSAVG,SH,28.37
1,08/19/2018,23,3,N,HB_HOUSTON,HU,28.37
2,08/19/2018,23,3,N,HB_HUBAVG,AH,28.37
3,08/19/2018,23,3,N,HB_NORTH,HU,28.37
4,08/19/2018,23,3,N,HB_SOUTH,HU,28.37
5,08/19/2018,23,3,N,HB_WEST,HU,28.37
6,08/19/2018,23,3,N,LZ_AEN,LZ,28.37
7,08/19/2018,23,3,N,LZ_AEN,LZEW,28.38
8,08/19/2018,23,3,N,LZ_CPS,LZEW,28.38
9,08/19/2018,23,3,N,LZ_CPS,LZ,28.37
10,08/19/2018,23,3,N,LZ_HOUSTON,LZEW,28.38
11,08/19/2018,23,3,N,LZ_HOUSTON,LZ,28.37
12,08/19/2018,23,3,N,LZ_LCRA,LZ,28.37
13,08/19/2018,23,3,N,LZ_LCRA,LZEW,28.38
14,08/19/2018,23,3,N,LZ_NORTH,LZEW,28.38
15,08/19/2018,23,3,N,LZ_NORTH,LZ,28.37
16,08/19/2018,23,3,N,LZ_RAYBN,LZEW,28.38
17,08/19/2018,23,3,N,LZ_RAYBN,LZ,28.37
18,08/19/2018,23,3,N,LZ_SOUTH,LZEW,28.37
19,08/19/2018,23,3,N,LZ_SOUTH,LZ,28.37
20,08/19/2018,23,3,N,LZ_WEST,LZEW,28.37
21,08/19/2018,23,3,N,LZ_WEST,LZ,28.37