In [49]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('HB_HOUSTON.csv')

In [42]:
dfTrain = df[:int(df.shape[0] * 0.8)]
dfTest = df[int(df.shape[0] * 0.8):]

In [74]:
def calculate_accuracy(df):
    df['datetime'] = pd.to_datetime(pd.to_datetime(df['date']) + df['hour'].astype('timedelta64[h]'))
    
    y = (df['price'].pct_change() > 0).astype(int)
    AL = (df['predicted_price'].pct_change() > 0).astype(int)
    
    assert(y.shape[0] == AL.shape[0])
    
    total = y.shape[0]
    TP = np.sum(np.logical_and(AL==1, y==1))
    TN = np.sum(np.logical_and(AL==0, y==0))

    FP = np.sum(np.logical_and(AL==1, y==0))
    FN = np.sum(np.logical_and(AL==0, y==1))

    P = TP / (TP + FP)
    R = TP / (TP + TN)
    F1 = (2 * P * R) / (P + R)

    acc = np.sum(AL == y)/total


    print("\nAccuracy: {} \n".format(acc))
    print("True Positive: {} \nTrue Negative: {}\nFalse Positive: {} \nFalse Negative: {}\n".format(TP, TN, FP, FN))
    print("Precision: {} \nRecall: {} \nF1 Score: {}\n".format(P, R, F1))   
    
    return y, AL, df['datetime']

In [ ]:
y, AL, date = calculate_accuracy(dfTrain)

Accuracy: 0.875858214912981

True Positive: 10510
True Negative: 11432
False Positive: 1702
False Negative: 1408

Precision: 0.8606288896167704
Recall: 0.47899006471606964
F1 Score: 0.6154476781636119

In [73]:
df

,hub,date,year,month,day,hour,price,predicted_price,datetime
0,HB_HOUSTON,2015-01-01,2015,1,1,1.0,22.4675,NaN,2015-01-01 01:00:00
1,HB_HOUSTON,2015-01-01,2015,1,1,2.0,22.3050,NaN,2015-01-01 02:00:00
2,HB_HOUSTON,2015-01-01,2015,1,1,3.0,22.2025,NaN,2015-01-01 03:00:00
3,HB_HOUSTON,2015-01-01,2015,1,1,4.0,22.1275,NaN,2015-01-01 04:00:00
4,HB_HOUSTON,2015-01-01,2015,1,1,5.0,22.1550,NaN,2015-01-01 05:00:00
5,HB_HOUSTON,2015-01-01,2015,1,1,6.0,22.6100,NaN,2015-01-01 06:00:00
6,HB_HOUSTON,2015-01-01,2015,1,1,7.0,23.3800,NaN,2015-01-01 07:00:00
7,HB_HOUSTON,2015-01-01,2015,1,1,8.0,23.7775,NaN,2015-01-01 08:00:00
8,HB_HOUSTON,2015-01-01,2015,1,1,9.0,24.4600,NaN,2015-01-01 09:00:00
9,HB_HOUSTON,2015-01-01,2015,1,1,10.0,26.9925,NaN,2015-01-01 10:00:00
10,HB_HOUSTON,2015-01-01,2015,1,1,11.0,27.9600,NaN,2015-01-01 11:00:00
11,HB_HOUSTON,2015-01-01,2015,1,1,12.0,28.4250,NaN,2015-01-01 12:00:00
12,HB_HOUSTON,2015-01-01,2015,1,1,13.0,27.4900,NaN,2015-01-01 13:00:00
13,HB_HOUSTON,2015-01-01,2015,1,1,14.0,26.1950,NaN,2015-01-01 14:00:00
14,HB_HOUSTON,2015-01-01,2015,1,1,15.0,24.8600,NaN,2015-01-01 15:00:00
15,HB_HOUSTON,2015-01-01,2015,1,1,16.0,24.6225,NaN,2015-01-01 16:00:00
16,HB_HOUSTON,2015-01-01,2015,1,1,17.0,25.5325,NaN,2015-01-01 17:00:00
17,HB_HOUSTON,2015-01-01,2015,1,1,18.0,29.3075,NaN,2015-01-01 18:00:00
18,HB_HOUSTON,2015-01-01,2015,1,1,19.0,28.6050,NaN,2015-01-01 19:00:00
19,HB_HOUSTON,2015-01-01,2015,1,1,20.0,27.5700,NaN,2015-01-01 20:00:00
20,HB_HOUSTON,2015-01-01,2015,1,1,21.0,27.4525,NaN,2015-01-01 21:00:00
21,HB_HOUSTON,2015-01-01,2015,1,1,22.0,25.4375,NaN,2015-01-01 22:00:00
22,HB_HOUSTON,2015-01-01,2015,1,1,23.0,24.2300,26.251907,2015-01-01 23:00:00
23,HB_HOUSTON,2015-01-01,2015,1,1,24.0,22.8475,24.557238,2015-01-02 00:00:00
24,HB_HOUSTON,2015-01-02,2015,1,2,1.0,21.9650,24.247730,2015-01-02 01:00:00
25,HB_HOUSTON,2015-01-02,2015,1,2,2.0,21.3200,23.904339,2015-01-02 02:00:00
26,HB_HOUSTON,2015-01-02,2015,1,2,3.0,20.9375,23.942802,2015-01-02 03:00:00
27,HB_HOUSTON,2015-01-02,2015,1,2,4.0,20.9200,23.998636,2015-01-02 04:00:00
28,HB_HOUSTON,2015-01-02,2015,1,2,5.0,21.2450,24.580360,2015-01-02 05:00:00
29,HB_HOUSTON,2015-01-02,2015,1,2,6.0,21.9450,25.543350,2015-01-02 06:00:00
...,...,...,...,...,...,...,...,...,...
25022,HB_HOUSTON,2017-11-08,2017,11,8,18.0,41.9600,49.762905,2017-11-08 18:00:00
25023,HB_HOUSTON,2017-11-08,2017,11,8,19.0,22.4650,29.703989,2017-11-08 19:00:00
25024,HB_HOUSTON,2017-11-08,2017,11,8,20.0,22.4500,24.075922,2017-11-08 20:00:00
25025,HB_HOUSTON,2017-11-08,2017,11,8,21.0,26.9950,29.318573,2017-11-08 21:00:00
25026,HB_HOUSTON,2017-11-08,2017,11,8,22.0,21.8950,24.155210,2017-11-08 22:00:00
25027,HB_HOUSTON,2017-11-08,2017,11,8,23.0,19.4650,22.543146,2017-11-08 23:00:00
25028,HB_HOUSTON,2017-11-08,2017,11,8,24.0,18.4125,20.494175,2017-11-09 00:00:00
25029,HB_HOUSTON,2017-11-09,2017,11,9,1.0,17.7650,20.496187,2017-11-09 01:00:00
25030,HB_HOUSTON,2017-11-09,2017,11,9,2.0,17.6825,20.443748,2017-11-09 02:00:00
25031,HB_HOUSTON,2017-11-09,2017,11,9,3.0,17.5125,20.562424,2017-11-09 03:00:00
25032,HB_HOUSTON,2017-11-09,2017,11,9,4.0,17.8400,20.896387,2017-11-09 04:00:00
25033,HB_HOUSTON,2017-11-09,2017,11,9,5.0,18.6225,21.931261,2017-11-09 05:00:00
25034,HB_HOUSTON,2017-11-09,2017,11,9,6.0,19.6800,23.460529,2017-11-09 06:00:00
25035,HB_HOUSTON,2017-11-09,2017,11,9,7.0,23.6025,29.773060,2017-11-09 07:00:00
25036,HB_HOUSTON,2017-11-09,2017,11,9,8.0,26.9125,35.494343,2017-11-09 08:00:00
25037,HB_HOUSTON,2017-11-09,2017,11,9,9.0,29.3775,38.250389,2017-11-09 09:00:00
25038,HB_HOUSTON,2017-11-09,2017,11,9,10.0,27.5900,31.655809,2017-11-09 10:00:00
25039,HB_HOUSTON,2017-11-09,2017,11,9,11.0,25.8000,27.886292,2017-11-09 11:00:00
25040,HB_HOUSTON,2017-11-09,2017,11,9,12.0,22.0800,24.472048,2017-11-09 12:00:00
25041,HB_HOUSTON,2017-11-09,2017,11,9,13.0,20.4825,23.279774,2017-11-09 13:00:00
25042,HB_HOUSTON,2017-11-09,2017,11,9,14.0,20.0600,23.543118,2017-11-09 14:00:00
25043,HB_HOUSTON,2017-11-09,2017,11,9,15.0,19.8725,24.166676,2017-11-09 15:00:00
25044,HB_HOUSTON,2017-11-09,2017,11,9,16.0,19.4225,24.189026,2017-11-09 16:00:00
25045,HB_HOUSTON,2017-11-09,2017,11,9,17.0,19.5525,24.282360,2017-11-09 17:00:00
25046,HB_HOUSTON,2017-11-09,2017,11,9,18.0,20.7050,25.466797,2017-11-09 18:00:00
25047,HB_HOUSTON,2017-11-09,2017,11,9,19.0,20.7150,24.767986,2017-11-09 19:00:00
25048,HB_HOUSTON,2017-11-09,2017,11,9,20.0,19.9950,23.341906,2017-11-09 20:00:00
25049,HB_HOUSTON,2017-11-09,2017,11,9,21.0,19.9075,22.792767,2017-11-09 21:00:00
25050,HB_HOUSTON,2017-11-09,2017,11,9,22.0,19.2925,21.937222,2017-11-09 22:00:00
25051,HB_HOUSTON,2017-11-09,2017,11,9,23.0,19.0800,21.821699,2017-11-09 23:00:00

In [52]:
calculate_accuracy(dfTest)

Accuracy: 0.8716475095785441

True Positive: 2606
True Negative: 2854
False Positive: 459
False Negative: 345

Precision: 0.8502446982055465
Recall: 0.4772893772893773
F1 Score: 0.6113782991202346

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy